{% block browse-filter %}
<form action="" method=GET class="filter-form">
  <label for="authorInput" class="form-label">Author Name</label>
  <input type="text" class="form-control mb-3" id="authorInput">
  
  <label for="lengthRangeStart">Length (in pages)</label>
  <div class="input-group mb-3">
      <input type="number" class="form-control" placeholder="Range start" aria-label="Range start" id="lengthRangeStart">
      <span class="input-group-text">to</span>
      <input type="number" class="form-control" placeholder="Range end" aria-label="Range end">
  </div>

  <label for="pubRangeStart">Year of Publication</label>
  <div class="input-group mb-3">
      <input type="number" class="form-control" placeholder="Range start" aria-label="Range start" id="pubRangeStart">
      <span class="input-group-text">to</span>
      <input type="number" class="form-control" placeholder="Range end" aria-label="Range end">
  </div>

  <div class="form-check form-check-inline mb-3">
    <input class="form-check-input" type="checkbox" id="fictionCheckbox" value="option1">
    <label class="form-check-label" for="fictionCheckbox">Fiction</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="checkbox" id="nonfictionCheckbox" value="option2">
    <label class="form-check-label" for="nonfictionCheckbox">Non-Fiction</label>
  </div>

  <div class="mb-3">
    <label for="tagSelection">Tags</label>
    <select class="form-select form-select-md" id="tagSelection" multiple>
      {% for tag in tags %}
        <option value="{{ tag }}">{{ tag }}</option>
      {% endfor %}
    </select>
  </div>
  <button class="btn btn-primary">Submit</button>
</form>
{% endblock %}