{% block results %}
<h5 class="mb-3">Your search returned the following results:</h5>
{% for result in search_results %}
<div class="result-card">
    <div class="result-card-image">
        <img src="{{ result.cover_img.url }}" alt="">
    </div>
    <div class="result-card-content">
        <h2 class="card-title">{{result.title}}</h2>
        <div class="card-subtitle">
            <h3>{{result.author}}</h3>
            <h3>{{result.publish_year}}</h3>
        </div>
        <p class="card-description">{{result.description | truncatechars:400}}<a href="{% url 'book-info' result.id %}">Read More +</a></p>
    </div>
</div>
<hr></hr>
{% endfor %}
{% endblock %}