<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Stylesheets -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alegreya+SC:wght@700&family=Noto+Serif:wght@800&display=swap" rel="stylesheet">
    <title>Library</title>
</head>
<body>
    <div class="main-box">
        <div class="background-img"></div>
        {% block content %} {% endblock content %}
        <footer>
            <h1>THIS IS THE FOOTER</h1>
        </footer>
    </div>
</body>
</html>