{% extends 'main.html' %}
{% block content %}
    {% block navbar %}
        {% include 'navbar.html' %}
    {% endblock %}
    <div class="results-frame">
        <div class="author-facts">
            <div class="author-img">
                <img src="{{ author.headshot.url }}" alt="Picture of {{ author.first_name }} {{ author.last_name }}">
            </div>
            <div class="author-bio">
                <h2 class="author-name mb-3">{{ author.first_name }} {{ author.last_name }}</h2>
                <p>{{ bio|truncatechars:1000 }} <a target="_blank" href="{{ link }}">Read More +</a></p>
            </div>
        </div>
        <div class="browse-content-box">
            <h3>Titles by {{ author.first_name }} {{ author.last_name }}</h3>
            <div class="row">
                {% for book in publications %}
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                        <div class="browse-card">
                            <div class="browse-card-img">
                                <img src="{{ book.cover_img.url }}" alt="">
                            </div>
                            <div class="browse-card-content">
                                <h4><strong><a href="{% url 'book-info' book.id %}">{{book.title}}</a></strong></h4>
                                <h4>{{book.publish_year}}</h4>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}